<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="create-blog content">
      <!-- Action attribute: That is basically gonna be value to where we want to send this request to. -->
      <!-- Method attribute: That is the request method. -->
      <form action="/blogs" method="POST">
        <label for="title">Blog title:</label>
        <!-- We need to add 'name' attributes to these input fields -->
        <!-- When we access the form data on the server , we'll use these properties to access that form data. -->
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
